/* General body styling */
body {
    margin: 0;
    padding:0;
    height: 100%;
    font-family: Montserrat, Tahoma;
}
.login-container{
    font-size: 100px;
}

.body-container {
    display: flex; /* Use flexbox layout */
    min-height: 100vh; /* Full viewport height */
    background-color: #428bca;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, Tahoma;
}

.main-content {
    margin-left: 15%;
    padding: 20px;
    padding-bottom: 10%; /* Adjust this value to match the footer's height */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    align-content: center;

}

.footer-div {
    background-color: #242943;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: Montserrat, Tahoma;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
}


.csempek-div {
    flex: 1;
}


.navbar {
    background-color: #242943;
    color: white;
    display: flex;
    flex-direction: column; /* Align navbar items vertically */
    align-items: flex-start; /* Align items to the start of the flex container */
    justify-content: flex-start;
    padding: 20px; /* Add padding to the navbar */
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position */
    left: 0; /* Stick to the left side */
    top: 0; /* Stick to the top */
    width: 15%; /* Width of the sidebar */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Logo image styling */
.navbar .logo img {
    height: 50px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the logo */
}

/* Styling for navbar items */
.navbar_items {
    width: 100%; /* Full width of the sidebar */
}

.navbar_items a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* More padding for a better touch area */
    display: block; /* Make links block level for full width touch area */
    transition: background-color 0.3s ease;
    width: 100%; /* Full width of the sidebar */
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Hover effect for links */
.navbar_items a:hover {
    background-color: #5a5c9a; /* Lighten on hover, adjust color as needed */
}

/* Input field styling */
.navbar input[type="text"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 5px;
    margin-bottom: 10px; /* Space below the search box */
    border-radius: 5px;
    border: 1px solid #333333; /* Slight border for the input */
}

.navbar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}
.date-details-page{
    margin:4%;
}

img {
    width: 100%;
    height: auto;
    display: none;
}
img:first-child {
    display: block;
}
.registration_form{
    font-family: Montserrat, Tahoma;
    background-color: #f7f7f7;
}
#login-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    font-family: Montserrat, Tahoma;
}
.registration_form form{
    text-align: left;
    font-family: Montserrat, Tahoma;
    }
.registration_form label{
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-family: Montserrat, Tahoma;
}
.registration_form input[type="text"], intput[type="email"],input[type="password"],input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Montserrat, Tahoma;
}
.registration_form button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: Montserrat, Tahoma;
}
.registration_form button:hover {
    background-color: #0056b3;
}
.registration_form a {
    color: #007bff;
    text-decoration: none;
    font-family: Montserrat, Tahoma;
}

.registration_form a:hover {
    text-decoration: underline;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: Montserrat, Tahoma;
}
.login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: Montserrat, Tahoma;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form a {
    text-decoration: none;
    color: #007BFF;
}
.login-form a:hover {
    text-decoration: underline;
}

.profile-container {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 50%;
    min-height: 300px;
    font-family: Montserrat, Tahoma;
}

.profile-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-data {
    margin-bottom: 10px;
}

.edit-profile-link {
    text-decoration: none;
    color: #007bff;
}

.message-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.message-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.message-form-container input[type="text"],
.message-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.message-form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.message-form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.message-form-container input[type="submit"]:hover {
    background-color: #0056b3;
}


.message-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Montserrat, Tahoma;
}

.message {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    font-family: Montserrat, Tahoma;
}

.message p {
    margin: 0;
    padding: 5px;
}

.message p strong {
    color: #007bff;
}

.message p:last-child {
    font-size: 14px;
    color: #777;
}

.message-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

form {
    text-align: left;
    font-family: Montserrat, Tahoma;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: Montserrat, Tahoma;
}
.calendar-view-container {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Align children vertically in the middle */
}
.calendar-view-name {
    flex: 1;
    text-align: center; /* Center the text inside the div */
}
.calendar-view-selector {
    flex-grow: 0;
    /* Additional styling as ne eded */
}


.calendar {
    margin: 20px auto;
    width: 90%;
    text-align: center;
    font-family: Montserrat, Tahoma;
}

.prev-month,
.next-month {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.prev-month:hover,
.next-month:hover {
    text-decoration: underline;
}

.calendar-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

.calendar-header,
.calendar-cell {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    width: calc(100% / 7);
}

.calendar-header {
    background-color: #f0f0f0;
    color: #333;
}


.calendar-cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.message-reply-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.message-reply-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.original-message {
    margin: 0;
    margin-bottom: 10px;
}

.previous-replies-title {
    font-size: 18px;
    margin-top: 20px;
}

.previous-replies-list {
    list-style-type: none;
    padding: 0;
}

.reply-item {
    margin-bottom: 10px;
}

.no-replies {
    margin: 0;
}

.reply-form {
    margin-top: 20px;
    font-family: Montserrat, Tahoma;
}

.reply-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reply-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-submit:hover {
    background-color: #0056b3;
}

.back-to-messages {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-family: Montserrat, Tahoma;
}

.back-to-messages:hover {
    text-decoration: underline;
}




.csempe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Montserrat, Tahoma;
}

.csempe a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #50ADC9;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-family: Montserrat, Tahoma;
}

.csempe a:hover {
    background-color: #D9D9D9;
    font-family: Montserrat, Tahoma;
}
.csempe-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #50ADC9;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    font-family: Montserrat, Tahoma;
}

.csempe-heading {
    margin-bottom: 10px;
    font-size: 16px;
}

.csempe-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 14px;
    padding-right: 20px;
}
.csempe-button {

    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.notification {
    color: white; /* Text color */
    background-color: red; /* Background color for visibility */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    text-decoration: none; /* Remove underlines from links */
    animation: blinker 2s linear infinite; /* Blinking effect */
    font-family: Montserrat, Tahoma;
}

/* Keyframes for blinking effect */
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.year-view {

    text-align: center;
    margin-left: 5%;
}

.month-container {
    margin-bottom: 5px;
    text-align: center;

}

.month-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;


}

.month-row {
    display: flex;
    align-items: center;
    margin-left: 0%;
    text-align: center;

}
.day-box {
    width: 3%; /* Fixed width */
    height: 2.9%; /* Fixed height */
    display: inline-block; /* Align boxes side by side */
    border: 0px;
    text-align: center; /* Center the text (day number) */
    line-height: 20px; /* Align text vertically */
    /* Additional styling as needed */
}
.year-navigation {
    text-align: center;
    margin-bottom: 20px;
}

.year-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin: 5px;
}

.year-button:hover {
    background-color: #45a049;
}
.comming-to-work{
    width: 80%;
    margin-left: 5%;

}

.my-messages{
    margin: 5%;
}
.my-requests{
    margin: 5%;
}
.jelenletiiv{
    margin: 5%;
}
.process-date{
    margin: 5%;
}
.incomming-requests{
    margin:5%;
}
.profile