.body{
    background-color: #428bca;
}
.login-container{
    font-size: 100px;
}
.navbar {
    background-color: #0073e6; /* Example color; use the color that matches your design */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.navbar .logo img {
    height: 50px; /* Adjust as needed */
}

.navbar_menu {
    display: flex;
    gap: 20px; /* Space between menu items */
    font-weight: bold;
}

.navbar_menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.navbar_menu a:hover {
    color: black;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .navbar_menu {
        flex-direction: column;
        align-items: flex-start;
    }
}

.gallery {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}
img {
    width: 100%;
    height: auto;
    display: none;
}
img:first-child {
    display: block;
}
.registration_form{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
#login-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}
.registration_form form{
    text-align: left;
    }
.registration_form label{
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}
.registration_form input[type="text"], intput[type="email"],input[type="password"],input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.registration_form button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.registration_form button:hover {
    background-color: #0056b3;
}
.registration_form a {
    color: #007bff;
    text-decoration: none;
}

.registration_form a:hover {
    text-decoration: underline;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form a {
    text-decoration: none;
    color: #007BFF;
}
.login-form a:hover {
    text-decoration: underline;
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    min-height: 300px;
}

.profile-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-data {
    margin-bottom: 10px;
}

.edit-profile-link {
    text-decoration: none;
    color: #007bff;
}

.message-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.message-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.message-form-container input[type="text"],
.message-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.message-form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.message-form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.message-form-container input[type="submit"]:hover {
    background-color: #0056b3;
}


.message-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

.message p {
    margin: 0;
    padding: 5px;
}

.message p strong {
    color: #007bff;
}

.message p:last-child {
    font-size: 14px;
    color: #777;
}

.message-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.calendar {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.prev-month,
.next-month {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.prev-month:hover,
.next-month:hover {
    text-decoration: underline;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.calendar-header,
.calendar-cell {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    width: calc(100% / 7);
}

.calendar-header {
    background-color: #f0f0f0;
    color: #333;
}

.calendar-cell {
    background-color: #fff;
    color: #333;
}

.calendar-cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.message-reply-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.message-reply-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.original-message {
    margin: 0;
    margin-bottom: 10px;
}

.previous-replies-title {
    font-size: 18px;
    margin-top: 20px;
}

.previous-replies-list {
    list-style-type: none;
    padding: 0;
}

.reply-item {
    margin-bottom: 10px;
}

.no-replies {
    margin: 0;
}

.reply-form {
    margin-top: 20px;
}

.reply-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reply-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-submit:hover {
    background-color: #0056b3;
}

.back-to-messages {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.back-to-messages:hover {
    text-decoration: underline;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
    margin-top: 20px;
}

.weekend-day {
    background-color: ghostwhite;
}

.working-day {
    background-color: orange;
}


.holiday-day {
    background-color: red;
}
.vacation-day {
    background-color: green;
}

.online-day {
    background-color: blue;
}

.sick-leave {
    background-color: #48ff00;
}

.non-payed-vacation {
    background-color: white;
}

.planned-vacation {
    background-color: lightgreen;
}
.csempe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.csempe a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.csempe a:hover {
    background-color: #2980b9;
}
.csempe-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
}

.csempe-heading {
    margin-bottom: 10px;
    font-size: 16px;
}

.csempe-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 14px;
    padding-right: 20px;
}
.csempe-button {

    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.notification {
    color: white; /* Text color */
    background-color: red; /* Background color for visibility */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    text-decoration: none; /* Remove underlines from links */
    animation: blinker 3s linear infinite; /* Blinking effect */
}

/* Keyframes for blinking effect */
@keyframes blinker {
    50% {
        opacity: 0;
    }
}



