.paid_requested {
    background-color: #A1C038;
    color: #004225; /* Dark green for contrast */
}

.paid_planned {
    background-color: #2A8C46;
    color: #ffffff;
}

.paid_taken {
    background-color: #006400;
    color: #ffffff;
}

.home_office {
    background-color: #7765A6;
    color: #333333;
}

.work_day {
    background-color: #EEC344;
    color: #333333;
}

.weekend {
    background-color: #D67C1C;
    color: #ffffff;
}

.holiday {
    background-color: #AC112B;
    color: #ffffff;
}

.unpaid_sickness_taken {
    background-color: #357ABE;
    color: #ffffff;
}

.empty{
    background-color: #D9D9D9;
    color: black;
}
