/* Sidebar and Top Bar Styling */

/* General body styling */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Montserrat, Tahoma;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.body-container {
    display: flex; /* Use flexbox layout */
    min-height: 100vh; /* Full viewport height */
    background-color: #fafafa;
    margin: 0;
    padding: 60px 0 0 0; /* Add top padding to avoid overlap with the top bar */
    font-family: Montserrat, Tahoma;
}

.main-content {
    margin-left: 15%; /* Adjust this value to reduce the space when sidebar is visible */
    padding: 20px;
    padding-bottom: 10%; /* Adjust this value to match the footer's height */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    align-content: center;
    transition: margin-left 0.3s; /* Smooth transition for margin change */
}

.footer-div {
    background-color: #242943;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: Montserrat, Tahoma;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
}
.footer{
    font-size: 12px;
}

/* Top bar styling */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(36, 41, 67, .8666666667);
    color: white;
    padding: 7px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.top-bar-left {
    display: flex;
    align-items: center;
}

.top-bar-left a{
    text-decoration: none;
    color: white;
}
.top-bar-title{
    margin-left: 5px;
    font-family: Montserrat, Tahoma;

    font-size: 1.375rem;
}

.top-bar-right {
    display: flex;
    align-items: center;
}

.top-bar-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.top-bar-link img, menu-button img {
    height: 40px; /* Set the height of the icon to 100% of the top bar height */
    width: auto; /* Maintain aspect ratio */
}
.menu-button img {
    height: 40px; /* Set the height of the icon to 100% of the top bar height */
    width: auto; /* Maintain aspect ratio */
}

.top-bar-link:hover {
    text-decoration: underline;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}


.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    height: 40px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
}

.user-info {
    margin-right: 20px;
    text-align: right;
}

.user-email {
    display: block;
    font-size: 16px;
    color: white;
}

.user-email a {
    color: white;
    text-decoration: none;
}

.user-email a:hover {
    text-decoration: underline;
}

.user-position {
    display: block;
    font-size: 12px;
    color: white;
    text-align: center;
}

/* Sidebar styling */
/* Sidebar styling */
.navbar {
    background-color: #242943;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
    width: 15%;
    overflow-x: hidden;
    transition: width 0.3s, transform 0.3s ease, opacity 0.3s ease;
    overflow-y: hidden;
}

.navbar.collapsed {
    width: 0;
    transform: translateX(-100%);
    opacity: 0;
}

.main-content.collapsed {
    margin-left: 0;
}

/* Hide navbar items when collapsed */
.navbar_items {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
}

.navbar_items img {
    height: 20px;
    margin-right: 4px;
}

.navbar_items a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    width: 100%; /* Full width of the sidebar */
    box-sizing: border-box;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.navbar.collapsed .navbar_items {
    transform: translateX(-100%);
    opacity: 0;
}

/* Hover effect for links */
.navbar_items a:hover {
    background-color: #5a5c9a;
}

/* Input field styling */
.navbar input[type="text"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333333;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.search-bar::placeholder {
    color: #888;
    font-style: italic;
}
hr {
    border: none !important;
    height: 1px !important;
    background-color: #ccc !important;
    margin: 20px 0 !important;
}
/* Content styling */
.test_content {
    margin: 1%;
}




/* specifically for profile.php file */
.profile-container {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 50%;
    min-height: 300px;
    font-family: Montserrat, Tahoma;
}

.profile-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-data {
    margin-bottom: 10px;
}

.edit-profile-link {
    text-decoration: none;
    color: #007bff;
}

.profile-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.profile-container input[type="text"],
.profile-container input[type="submit"] {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.profile-container input[type="submit"] {
    background-color: #4CAF50;
    color: #242943;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-container input[type="submit"]:hover {
    background-color: #45a049;
}

/*csempe  */
.title-index{
    font-family: Montserrat, Tahoma;
    color: #242943;
    font-size: 1.625rem;
    margin-left: 180px;
    font-weight: bold;

}

.csempek-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Montserrat, Tahoma;
}

.csempe-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 150px;
    background-color: #ffffff;
    color: #242943;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: Montserrat, Tahoma;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.csempe-item:hover {
    background-color: #ececec;
    transform: translateY(-5px);
    cursor: pointer;
}

.csempe-item a {
    color: #242943;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

.csempe-heading {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}

.csempe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px;
    border-color: #242943;
}

.csempe-form input[type="text"] {
    padding: 8px;
    border: 1px;
    border-color: #242943;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.csempe-button {
    background-color: #656565;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.csempe-button:hover {
    background-color: #1e1e2f;
}

.notification {
    color: white;
    background-color: #ff9100;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    animation: blinker 2s linear infinite;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}





/* coming_to_work.php file hoz tartozo stilusok*/

.selector-container {

    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.selector-option {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.selector-option:hover {
    background-color: #f0f0f0;
}
.comming-to-work{
    width: 80%;
    margin-left: 5%;

}

/* calendar.php*/

.calendar-view-container {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Align children vertically in the middle */
}
.calendar-view-name {
    flex: 1;
    text-align: center; /* Center the text inside the div */
}
.calendar-view-name h1 {
    margin-left: 8%;
}
.calendar-view-selector {
    flex-grow: 0;
    /* Additional styling as ne eded */
}


.calendar {
    margin: 20px auto;
    width: 90%;
    text-align: center;
    font-family: Montserrat, Tahoma;
}
.calendar-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

.calendar-header,
.calendar-cell {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    width: calc(100% / 7);
}

.calendar-header {
    background-color: #f0f0f0;
    color: #333;
}


.calendar-cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
.year-view {

    text-align: center;
    
}


.month-container {
    margin-bottom: 20px; /* Add some space between month containers */
}

.month-name-container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Spread items horizontally */
    margin-bottom: 5px;
}

.month-name {
    text-align: center;
    font-weight: bold;
    /*flex: 1; /* Take up available space */
}

.month-buttons {
    margin-left: 10px; /* Add some space between month name and button */
    width: 150px; /* Adjust the width as needed */
    text-align: right;
}


.month-row {
    display: flex;
    align-items: center;
    margin-left: 0%;
    text-align: center;

}
.day-box {
    width: 3%; /* Fixed width */
    height: 2.9%; /* Fixed height */
    display: inline-block; /* Align boxes side by side */
    border: 1px;
    text-align: center; /* Center the text (day number) */
    line-height: 20px; /* Align text vertically */
    border-radius: 2px;
}
.day-box:hover {
    cursor: pointer;
    /* Additional styling as needed */
}
.year-navigation-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.year-navigation {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.navigation-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.year-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin: 5px;
}

.year-button:hover {
    background-color: #45a049;
}
.today {
    border: 3px solid red;
}


/* buttons */

.action-button {
    background: #242943;
    color: #FFFFFF ; /* Text color */
    font-size: 16px ; /* Text size */
    padding: 3px 12px ; /* Adjusted padding for better spacing */
    border: none ; /* Remove border */
    border-radius: 5px ; /* Rounded corners */
    cursor: pointer ; /* Pointer cursor on hover */
    display: inline-flex ; /* Align image and text properly */
    align-items: center ; /* Vertically center align items */
    text-decoration: none ; /* Remove underline from text */
}

.action-button img {
    width: 20px ; /* Image width */
    height: auto ; /* Maintain aspect ratio */
    vertical-align: middle ; /* Align with text */
    margin-right: 8px ; /* Adjusted space between image and text (for previous year button) */
    margin-left: 8px ; /* Adjusted space between image and text (for next year button) */
}

.action-button:hover {
    background-color: #1e1e2f ; /* Darker background color on hover */
}

.action-button:hover {
    background-color: #1e1e2f; /* Darker background color on hover */
}

.action-buttons form {
    display: inline-block; /* Display forms inline */
    margin: 0; /* Remove margin */
}
.accept-button{
    background: #2A8C46;
}
.accept-button:hover{
    background: #229845;
}
.deny-button{
    background: #AC112B;
}
.deny-button:hover{
    background: #a90824;
}
.action-button-bigger{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.action-button-bigger img{
    width: 30px ; /* Image width */
    height: auto ; /* Maintain aspect ratio */
    vertical-align: middle ; /* Align with text */
    margin-right: 8px ; /* Adjusted space between image and text (for previous year button) */
    margin-left: 8px ; /* Adjusted space between image and text (for next year button) */
}


.center-content {
    text-align: center;
    vertical-align: middle;
}
/* tables */
.table-container {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;

}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table th {
    background-color: #242943;
    color: #ffffff;
    text-align: center;
}

.table tr {
    background-color: #f9f9f9;
}

.table tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #e2e2e2;
}

.table .center-content {
    text-align: center;
    vertical-align: middle;
}

/* selectors */
.year-month-selector-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.year-month-selector-form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.styled-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.styled-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f9fa;
    color: #495057;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.styled-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Fieldset Styles */
.styled-fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Heading Styles */
.styled-heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Form Group */
.form-group {
    margin-bottom: 20px;
}

/* Input Styles */
.styled-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Radio Container */
.radio-container {
    display: flex;
    flex-direction: column;
}

/* Label Styles */
.styled-label {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.styled-label:hover {
    background-color: #f0f0f0;
    border-color: #007bff;
}

/* Radio Button Styles */
.styled-radio {
    display: none;
}

/* Custom Radio Button Styles */
.styled-radio + span {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    color: #333;
}

.styled-radio + span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.styled-radio:checked + span:before {
    background-color: #0069dc;
    border-color: #0061a1;
}

